.challangeDetailsBox{
    margin-left: 10%;
    width: 1000px;
    height:600px;
    padding: 30px;
    background: #191919;
    border: magenta;
    border-style: solid;
    border-radius: 12px;
    color:white;
}

.challangeDetailsBox h2{
    text-align: center;
}

.challangeDetailAlert {
    margin-left:45%;
}
.challangeDetailAlert h4 {
    color:white;
}


