.card{
    margin-bottom: 20px;
    border:none;
    
}

.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 63%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
}

.box h1{
    color:white;
}
.box label {
    color: black; /* Ensure the labels are white to contrast with the dark background */
}
