@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center indexBox" >
    <h1 class="display-4">Welcome to BORANFİT</h1>
    <h4>Here you can post fitness challenges.</h4>
    <h4>List,filter,favourite and rate challenges.</h4>
    <h4>You can see your favorited challenges from profile page</h4>
    <h4>Add comments to challenges </h4>
    <h4>You can add Comments from Browse challenges page</h4>
    <h4>Click Challange Details to find out more about them.</h4>
    <h4>Express yourself with your profile photo and Custom Biography</h4>

</div>
