@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BORANFİT</h1>
    <h4>Here you can post fitness challenges.</h4>
    <h4>List,filter,favourite and rate challenges.</h4>
    <h4>Express yourself with your profile</h4>

</div>
