@page
@model MyApp.Namespace.ReadCommentModel
@{
    ViewData["Title"] ="Read Comments";
}

<div class="readCommentBox">
    <h2>@Model.challenge.ChallangeName's Comments!</h2>
    <ul class="">
        @foreach(var comment in Model.Comments){
            <li>
                <strong>
                    @comment.CommentUserName |
                </strong> 
                @comment.CommentText
            </li>
        }
    </ul>
</div>
